/* Colors */
:root {
    --Main: white;
    --secondary: #ededed;
    --accent: #ff5c5c;
    --tertiary: #000000;
    --Logo: "../Img/Stein\'s&Joost\'sKitchenV2.gif";
}

/* reset */
* {
    box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

ol {
    list-style-type: none;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* General */
body {
    margin: 0;
    font-family: 'Patrick Hand', cursive;
}

h1 {
    font-size: 35px;
}

p, li, ol, label {
    font-size: 25px;

}

section {
    margin-bottom: 5rem;
}




/* Button styling */

.container-button-wrap {
    width: 40px;
    height: 30px;
    position: relative;
    z-index: 1;
    margin-left: 1rem;
    margin-right: 1rem;
}

.center-button-wrap {
    width: 40px;
    height: 30px;
    position: absolute;
}

.btn-red {
    width: 40px;
    height: 30px;
    cursor: pointer;
    background: var(--accent);
    border: 1px solid var(--accent);
    outline: none;
    transition: 1s ease-in-out;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: var(--Main);
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}

.btn-red:hover {
    transition: 1s ease-in-out;
    background: var(--Main);
}

.btn-red:hover span{
        color: var(--accent);
}

.btn-red:hover svg {
    stroke-dashoffset: -480;
}

.btn-red span {
    color: var(--Main);
    font-size: 18px;
    font-weight: 100;
}

  
/* Header */

.page-header {
    position: fixed;
    top: 0;
    height: 8rem;
    width: 100%;
    padding: 0.3rem;
    padding-top: 0;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(61,61,61,1) 47%, rgba(0,0,0,1) 100%);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.582);
    z-index: 100;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.header-div {
    width: 100%;
    height: 100%;
    background: rgb(101,101,101);
    background: linear-gradient(0deg, rgba(101,101,101,0.7567401960784313) 0%, rgba(0,0,0,1) 86%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    padding-top: 1rem;
}

.page-header p {
    font-size: 1.6rem;
}

.header-nav {
    display: flex;
    gap: 2rem;
}

.header-nav .nav-link {
    font-size: 1.2rem;
}


.gif-header {
    width: 15rem;
    margin-top: 0;
}

.home-location-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 5rem;

}

.home-location-header p{
    color: var(--Main);
    font-weight: 700;
    font-size: 20px;
    margin: 0.3rem;
}

.recipe-location-header {
    left: 12rem;
    top: 1.7rem;
}

.home-icon {
    filter: invert(1);
    height: 3rem;
    box-shadow: 0px 0px 30px rgb(0, 0, 0);
    border-radius: 3rem;
}

.nav-link:hover .home-icon {
    opacity: 0.6;
    background-color: #81ffff;
    box-shadow: 0px 0px 30px #00ffff;
    animation: bounce-in 2s ease;
  }
  @keyframes bounce-in {
    0% {
      opacity: 0;
      transform: scale(.3);
    }
    50% {
      opacity: 1;
      transform: scale(1.05);
    }
    70% { transform: scale(.9); }
    100% { transform: scale(1); }
}

.nav-link:hover .recipe-icon {
    opacity: 0.6;
    background-color: #81ffff;
    box-shadow: 0px 0px 30px #00ffff;
    animation: bounce-in 2s ease;
  }
  @keyframes bounce-in {
    0% {
      opacity: 0;
      transform: scale(.3);
    }
    50% {
      opacity: 1;
      transform: scale(1.05);
    }
    70% { transform: scale(.9); }
    100% { transform: scale(1); }
}

.nav-link:hover p {
    opacity: 0.6;
}

.recipe-icon {
    filter: invert(1);
    height: 3rem;
    box-shadow: 0px 0px 30px rgb(0, 0, 0);
    border-radius: 0.3rem;
}

.dropdown-content-recipe {
    display: none;
    position: absolute;
    top: 5.3rem;
    left: 0rem;
    background: rgb(219,219,219);
    background: linear-gradient(0deg, rgba(219,219,219,0.30015756302521013) 0%, rgba(101,101,101,1) 82%);
    min-width: 160px;
    padding: 0.5rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
    flex-direction: column ;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;


}

.dropdown-content-recipe a {
    color: black;
    text-decoration: none;
    display: block;
    margin-bottom: 0.5rem;
}

.dropdown-content-recipe a {
    font-size: 20px;
    color: var(--Main);
}

.dropdown-content-recipe a:hover {
    box-shadow: 0px 0px 30px var(--accent);
    background-color: #ff38384a;
}

.dropdown:hover .dropdown-content-recipe {
    display: flex;
    animation: fade-in 0.2s linear;
}
@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}


.dropdown-content-recipe span {
    background-color: var(--tertiary);
    padding: 1rem 1rem 0rem 1rem;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}


/* Recipe page */
.page-content {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0rem;
}
