/* home-page-intro-wrap */

.home-page-intro-wrap {
    background-image: url(../Img/homepageBG1.jpg);
    height: 110vh;
    width: 100%;
    background-size: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    position: relative;
}

.logo-homepage {
    position: absolute;
    background-image: url(../Img/Steins&JoostsKitchenV2.gif);
    margin-top: 10%;
    background-size: 100%;
    width: 40%;
    height: 50%;
    margin-left: 50%;
    background-repeat: no-repeat;
    object-fit: cover;
}

.simple-flex-container-row {
    display: flex;
    flex-direction: row;
    position: absolute;
    align-items: center;
    right: 22vw;
    margin-top: 25%;
    gap: 1.5vw;
    text-align: end;
}

.red-h1 {
    margin-top: -20px;
    font-weight: 900;
    color: var(--accent);
    font-size: 7vw;
    font-family: 'Pacifico', cursive;
}

.white-h1 {
    font-weight: 100;
    color: var(--Main);
    font-size: 7vw;
    font-family: 'Dancing Script', cursive;
}

.h1-loc {
    right: 14vw;
    position: absolute;
    margin-top: 35%;
}

/* description block */
.description-block {
    height: 40rem;
    background-color: var(--secondary);
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
    position: relative;
}
.description-block1 {
    height: 40rem;
    background-color: var(--offset);
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
    position: relative;
}

.bigpadding {
    padding-left: 12rem;
    padding-right: 12rem;  
}

.smallpadding {
    padding-left: 4rem;
    padding-right: 4rem;  
}

.displayNone {
    visibility: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out 0.1;
}

.displayAll {
    visibility: 1;
    opacity: 1;
    transition: opacity 0.5s ease-in-out 0.5s;
}

.site-description-title {
    font-size: 3rem;
    color: var(--accent);
    margin-bottom: 2rem;
    position: relative;
    top: 0;
    transition: top 0.5s linear;
}

.width-30 {
    width: 30%;
    transition: width 0.5s linear;
}

.width-70 {
    width: 70%;
    transition: width 0.5s linear;
}

.recipe-picture-video-fill {
    height: 40rem;
    display: block;
}

.video-side-descriptionblock {
    width: 100%;
    height: 40rem;
    object-fit: cover;
    display: block;
}

.simple-flex-container {
    display: flex;
    flex-direction: row;
}

.set-center {
    top: 50%;
    transition: top 0.5s linear;
    margin-top: -1rem;
}

/* button CSS */
.button-29 {
  align-items: center;
  appearance: none;
  background: rgb(255,92,92);
  background: linear-gradient(90deg, rgba(255,92,92,1) 0%, rgba(255,161,161,1) 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(66, 35, 35, 0.4) 0 2px 4px,rgba(66, 35, 35, 0.3) 0 7px 13px -3px,rgba(111, 58, 58, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 2rem;
  z-index: 50;
}

.button-29:focus {
  box-shadow: #e03c3c 0 0 0 1.5px inset, rgba(66, 35, 35, 0.4) 0 2px 4px, rgba(66, 35, 35, 0.3) 0 7px 13px -3px, #e03c3c 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(66, 35, 35, 0.4) 0 4px 8px, rgba(66, 35, 35, 0.3) 0 7px 13px -3px, #e03c3c 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #e03c3c 0 3px 7px inset;
  transform: translateY(2px);
}

.posleft1 {
    position: absolute;
    right: 3rem;
    top: 50%;
    transition: right 0.5s linear;
}
.posleft2 {
    position: absolute;
    right: -7rem;
    top: 50%;
    opacity: 0.5;
    transition: right 0.5s linear;
}

.posleft2:hover {
    opacity: 1;
}

.posright1 {
    position: absolute;
    left: 3rem;
    top: 50%;
    transition: left 0.5s linear;
}

.posright2 {
    position: absolute;
    left: -7rem;
    top: 50%;
    opacity: 0.5;
    transition: left 0.5s linear;
}

.posright2:hover {
    opacity: 1;
}

.textColor {
    color: var(--Main);
}

/* prices */

.flex-gap {
    gap: 3rem;
    margin-bottom: 8rem;
}

.space-around {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.product-container {
    width: 25rem;
    height: 35rem;
    padding: 3rem;
    background-color: var(--secondary);
    border-radius: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transform: scale(1, 1);
    transition: all 0.3s ease-in;
}

.product-container p{
    color: var(--offset)
}

.product-container-popular {
    width: 25rem;
    height: 35rem;
    padding: 3rem;
    background-color: var(--offset);
    border-radius: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex;
    transform: scale(1.1, 1.1);
    transition: all 0.3s ease-in;
}

.product-container-popular .product-container{
    display: none;
}

.product-container-popular p{
    color: var(--Main)
}

.li-invert {
    filter: invert(1);
    color: rgb(91, 91, 91);
}

.li-invert b{
    font-weight: 900;
    color: black;
}


.simple-flex-container li {
    list-style: url(../Img/Icons/done_FILL0_wght600_GRAD0_opsz48.png);

}

.simple-flex-container li b {
    font-weight: 900;
}

.popular-tag{
    position: absolute;
    background-color: var(--Main);
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    right: 1rem;
    top: 1rem;

}

.popular-tag .star {
    color: gold;
}
.popular-tag p {
    color: var(--offset);
}

.btn-loc {
    left: 0;
    bottom: 0;
}

.set-height {
    height: 35rem;
}


/* mediaQueries */
@media only screen and (max-width: 1400px) {
    .page-content .simple-flex-container {
        flex-direction: column;
    }

    .set-height {
        height: 100%;
    }

}

