/* Recipe header */
.recipe-header {
    width: 60rem;
}

.recipe-header img {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 10px 25px rgb(174, 174, 174);
}

.recipe-header .recipe-description {
    padding: 2rem;
    background-color: var(--secondary);
    box-shadow: 0px 10px 25px rgb(174, 174, 174);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

/* Recipe description */
.difficulty-icon-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    height: 2rem;
    width: 7.5rem;
    background-color: var(--Main);
    border-radius: 2rem;
}

.difficulty-icon-div img {
    height: 1.5rem;
    width: 1.5rem;
}

.time-icon-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;
    height: 2rem;
    width: 10rem;
    background-color: var(--Main);
    border-radius: 2rem;
    margin-top: 0.3rem;
}

.time-icon-div img {
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 0.5rem;
}

.difficulty-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.difficulty-icon-seethrough {
    opacity: 0.3;
}

.Required-time-text {
    font-size: 12px;
}

.info-icon-wrapper {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}


/* ingredients section */
.recipe-ingredients {
    padding: 2rem;
    width: 60rem;
    background-color: var(--secondary);
    box-shadow: 0px 10px 25px rgb(174, 174, 174);
    border: 3px solid var(--accent);
    border-radius: 2rem;
}

.page-span-ingredients {
    width: 100%;
    min-width: 100vw;
    height: 30rem;
    max-height: 500px;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 20%,rgba(255,255,255,1)), url(../Img/Ingredients.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-top: 5px solid var(--accent);
}

.page-span-ingredients h2 {
    background: rgb(133,133,133);
    background: linear-gradient(0deg, rgba(133,133,133,1) 0%, rgba(0,0,0,1) 60%);   
    font-size: 7rem;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 1rem;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.582);
    border-radius: 2rem;
    padding: 1rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.total-person-container {
    display: flex;
    flex-direction: row;
}

.total-person-container p {
    font-size: 25px;
}

/* Bereidingswijze */
.page-span-Bereidingswijze {
    width: 100%;
    min-width: 100vw;
    height: 30rem;
    max-height: 500px;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 20%,
    rgba(255,255,255,1)), url(../Img/Husband-wife-pose-kitchen-preparing-tasty-dinner.jpg);
    background-repeat: no-repeat;
    background-position: 0% 30%;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-top: 5px solid var(--accent);
}

.page-span-Bereidingswijze h2 {
    background: rgb(133,133,133);
    background: linear-gradient(0deg, rgba(133,133,133,1) 0%, rgba(0,0,0,1) 60%);   
    font-size: 7rem;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 1rem;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.582);
    border-radius: 2rem;
    padding: 1rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.recipe-steps-p {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    border-bottom: 2px solid var(--accent);
    display: inline;
}

.recipe-steps {
    padding: 2rem;
    width: 60rem;
    background-color: var(--secondary);
    box-shadow: 0px 10px 25px rgb(174, 174, 174);
    border: 3px solid var(--accent);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
}

.recipe-steps p {
    align-self: center;
    justify-self: center;
}

.li-styling-numeric {
    font-size: 25px;
    padding: 0.5rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    background-color: var(--Main);
    border-radius: 2rem;
    border: 2px solid var(--accent);
    text-align: center;
    margin-right: 1rem;
    max-height: 2.3rem;
}

.li-flex {
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
}

/* styling ul / li */
.styling-ul li::before {
    content: "\2022";
    color: var(--accent);
    font-weight: bold;
    display: inline; 
    width: 2rem;
    margin-right: 0.5rem;
    font-size: 3rem;
}

.styling-ul {
    list-style-type: none;
    padding: 0;
}

/* Other recipes */
.recipe-grid-wrap {
    width: 79rem;
    height: 42rem;
    background-color: aqua;
    display: grid;
    grid-template-columns: 25rem 25rem 25rem;
    grid-template-rows: 20rem 20rem;
    gap: 2rem;
}
