<footer class="page-footer">
    <img class="footer-logo" src="../Img/Steins&JoostsKitchenV2.gif" alt="">
    <div class="social-media-icons">
        <a href=""><img src="../Img/Icons/facebook.png" alt=""></a>
        <a href=""><img src="../Img/Icons/instagram.png" alt=""></a>
        <a href=""><img src="../Img/Icons/twitter.png" alt=""></a>
        <a href=""><img src="../Img/Icons/youtube.png" alt=""></a>
    </div>
    <span class="white-line"></span>
    <div class="footer-row">
        <nav>
            <p>Content</p>
            <a href="">Home</a>
            <a href="#overOns">Over Ons!</a>
            <a href="#geschiedenis">Geschiedenis</a>
            <a href="#abonnementen">Abonnementen</a>
        </nav>
        <nav>
            <p>Recipes</p>
                {recipes}
        </nav>
    </div>
    <span class="white-line"></span>
    <p>Copyright © 2023 Stein's & Joost's Kitchen All rights reserved.</p>
</footer>